<main class="padding">
  <form action="/api/add" method="post" #form_AddStaff="ngForm" class="flex vertical align_center gap borderRadius paddingHalf" id="addStaff">
    <p class="width100">Add Staff</p>
    <hr class="width100">
    <div class="grid gridCol3 width100">
      <label for="staffName" class="self_align_center">Staff Name:</label>
      <app-textBox #c_Name [props]="{
          regex: '[a-zA-Z ]*', placeholder: 'Enter Staff Name', type: 'text', icon: 'add', tooltip: 'A-Z, a-z', name: 'staffName',
        id: 'staffName', isRequired: true
      }" class="width100 span2Right" />
    </div>
    <div class="grid gridCol3 width100">
      <label for="staffDept" class="self_align_center">Department:</label>
        <app-dropdown #c_Department [props]="{
            name: 'staffDept', id: 'staffDept', allowNone: false, options: drop_Department
        }" class="width100 span2Right" />
    </div>
    <div class="grid gridCol3 width100">
      <label for="staffPost" class="self_align_center">Designation:</label>
        <app-dropdown #c_Post [props]="{
            name: 'staffPost', id: 'staffPost', allowNone: false, options: drop_Post
        }" class="width100 span2Right" />
    </div>
    <div class="grid gridCol3 width100">
      <label for="staffSalary" class="self_align_center">Salary:</label>
      <app-textBox #c_Salary [props]="{
          regex: '[^\s][0-9\.\s]+', placeholder: 'Enter Subject Code', type: 'text', icon: 'add', tooltip: 'A-Z, a-z, 0-9, _, -', name: 'staffSalary',
          id: 'staffSalary', isRequired: true
      }" class="width100 span2Right" />
    </div>
    
    <div class="grid gridCol3 gap width100">
      <app-icon-button [props]="{'icon': 'clear_all', 'text': 'Clear All', 'type': 'capsule'}" onClick="document.getElementById('addStaff').reset();" />
      <app-icon-button [props]="{'icon': 'keyboard_backspace', 'text': 'Back', 'type': 'capsule'}" (click)="navigateTo('list', '')"/>
      <app-icon-button [props]="{'icon': 'Add', 'text': 'Add', 'type': 'capsule'}" (click)="submit()" class="check_valid"/>
    </div>

  </form>
</main>